<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>maisfreela</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/maisfreela/</location>
  </error-page> 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletUsuario</display-name>
    <servlet-name>ServletUsuario</servlet-name>
    <servlet-class>servlets.ServletUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuario</servlet-name>
    <url-pattern>/ServletUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProjeto</display-name>
    <servlet-name>ServletProjeto</servlet-name>
    <servlet-class>servlets.ServletProjeto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProjeto</servlet-name>
    <url-pattern>/projeto/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjetoDAO</display-name>
    <servlet-name>ProjetoDAO</servlet-name>
    <servlet-class>dao.ProjetoDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjetoDAO</servlet-name>
    <url-pattern>/ProjetoDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>servlets.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/ServletHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdasd</display-name>
    <servlet-name>asdasd</servlet-name>
    <servlet-class>servlets.asdasd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdasd</servlet-name>
    <url-pattern>/asdasd</url-pattern>
  </servlet-mapping>
</web-app>