input , textarea, select{
	border-radius:5px !important; 
}
.form-center{
	margin:0px auto;
	width:50%;
}
form button , form a{
	float:right;
	padding:10px !important;
	border-radius:7px !important;
	font-size:15px;
	margin: 2px;
}
form a.button{
	margin-top: 2px !important;
}
form .erro{
	border:1px solid red;
}
.message{
	padding:5px;
}
.message.message-error{
	background:rgb(255, 126, 126);
	border:1px solid red;
	color:white;
} 
.message.message-success{
	border:1px solid green;
	color:white;
	background:rgb(192, 246, 192);
}
.clear{
	clear:both;
}