@CHARSET "ISO-8859-1";

.row.main-list .content .imagem {
	float: left;
	margin: 8px;
}

.content.filtros {
	margin: 2px;
	color: blue;
	font-size: 14px;
}



.panel-list .nome-desenvolvedor {
	color: blue;
	cursor: pointer;
	font-size: 16px;
}

.panel-list .desc-desenvolvedor {
	text-align: justify;
	font-size: 14px;
	margin: 10px 0;
	margin-top: 25px;
}

.estrela-full {
	padding: 6px;
	float: left;
	margin-left: 4px;
	background: url('../../img/Star-Full.png');
}

.estrela-half {
	padding: 6px;
	float: left;
	margin-left: 4px;
	background: brown;
}

.estrela-empty {
	padding: 6px;
	float: left;
	margin-left: 4px;
	background: gray;
}