@CHARSET "ISO-8859-1";

.main-list {
	padding: 0 17px;
}

.main-list .menu-left {
	padding: 0;
}

.main-list .menu-left .content {
	border: 1px solid lightgray;
	padding: 3px;
	width: 95%;
}

.main-list .panel-list {
	padding: 0;
	float: rigth;
}

.main-list .panel-list .content {
	border: 1px solid lightgray;
	padding: 3px;
	width: 95%;
}

.main-list .panel-list .row {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	width: 99%;
	margin: 0px auto;
	margin: 7px auto;
}
.main-list .panel-list .row:last-child{
	border:none;
}