@CHARSET "ISO-8859-1";

.panel-list .nome-projeto {
	color: blue;
	cursor: pointer;
	font-size: 16px;
}

.panel-list .info-projeto {
	color: blue;
	cursor: pointer;
	font-size: 12px;
	line-height: 10px
}

.panel-list .valor-projeto .valor-label {
	color: black;
}

.panel-list .prazo-projeto {
	margin-left: 20px;
}

.panel-list .prazo-projeto .prazo-label {
	color: black;
}

.panel-list .desc-projeto {
	text-align: justify;
	font-size: 14px;
	margin: 10px 0;
}

.panel-list .statusProj{
	float: right;
	margin-left: 10px;
	font-size: 14px;
}

.panel-list .statusProj .status{
	color: blue;
}