.login{
			background:gray;
			margin-top: 15px;
			cursor:pointer;
		}
		.login .login-label{
			display:inline-block;
		}
		.login .login-label a{
			padding:14px 20px;
		}
		.login .login-icon{
			display:inline-block;
			padding:8px;
		}
		.login .login-icon{
			border-right:1px solid white;
			width:35%;
		}
		.login .login-label{
			text-align:center;
		}
		.login .login-label a{
			color:white;
		}