.menu{
	padding-left:15px;
	padding-right:15px;
}
.menu a{
	width:100%;
	
}
.menu div{
	border-left:1px solid white;
	padding:0px;
}
.columns.center{
	text-align:center;
}
.user-welcome{
margin-top:25px;	
}