.publicar_btn{
	padding: 15px !important;
	margin: 0;
	margin-top: 15px;
}
.sidemenu_projeto a{
	display:block;
}
.header_projeto{
	border-bottom: 1px solid black;
	line-height: 17px;
	margin-top: 4px;
	padding: 0px;
	margin-bottom: 10px;
}
