.perfil-usuario{
	padding:12px!important;	
}
.panel-list .desc-usuario{
	text-align: center;
	padding-bottom: 20px;
}
.perfil-usuario .image-content{
	text-align:center;
}
.perfil-usuario .image-content .imagem{
	margin:3px 0px;
	margin:0 auto !important;
	float:none !important;	
}
.perfil-usuario .user_botoes{
	width: 50%;	
}
.aspas{
	width: 15px;
	margin-top: -11px;
}
.panel-user .estrelas{
	float:right;
	margin-top: -20px;
}
.panel-user .aval-title{
	border-bottom: 1px solid #43ac6a;
	padding: 5px;
	line-height: 6px;
}
.panel-user .user-projetos{
	padding: 10px;
	background: rgb(235, 255, 205);
	color: black;
}
.panel-user ul{
	margin:0px auto;
	width:95%;
}
.panel-user li{
	margin-top: 9px;
	cursor:pointer;
	list-style:none;
	border-bottom: 1px solid lightgray;
}
.panel-user li:last-child{
	border:none;
}
.panel-user .desc-projeto{
	font-style:italic;
	margin:0 !important;
	margin-left:9px !important;
	
}
.panel-user .title-projeto{
	font-weight:bold;
}