.perfil-usuario{
	padding:12px!important;	
}
.panel-list .desc-usuario{
	text-align: center;
	padding-bottom: 20px;
}
.perfil-usuario .image-content{
	text-align:center;
}
.perfil-usuario .image-content .imagem{
	margin:3px 0px;
	margin:0 auto !important;
	float:none !important;	
}
.aspas{
	width: 15px;
	margin-top: -11px;
}